@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
}
body{
    background-color: white;
    font-family: 'Work Sans', sans-serif;
    z-index: 0;
    width: 109%;
}
body::-webkit-scrollbar {
    width: 2px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px transparent;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: white;
  }
/* Text styles */
h1{
    font-weight: 500;
    font-size: 3.25rem;
    line-height: 53px;
    color: white;
}
p{
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 24px;
    color: white;
}
.black{
    color: black;
}
.gray{
    color: #919191;
    font-size: 20px;
    line-height: 30px;
}
.white{
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
i{
    position: relative;
    top: 2px;
}
span{
    color: white;
    font-size: 1.4rem;
}
.space{
    height: 2rem;
    width: 50%;
}
.flex{
display: flex;
flex-direction: row;
justify-content: space-around;
align-content: center;    
}
.none{
    list-style: none;
}
hr{
    height: 1px;
    border: none;
    background-color: #d4d3d3;
}
/* Header Section (Navigation links)*/
.hide-desk{
    display: none;
}
header{
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12vh;
    z-index: 3;
    position: fixed;
    width: 100%;
    max-width: 100%;
    top: 0px;
}
.left-content{
    height: auto;
    width: 80%;
}
img{
    width: 6rem;
    max-width: 100%;
}
.header-left-content-flex{
    justify-content: center;
    align-items: center;
    align-content: center;
}
.header-left-content-flex ul{
    height: 12vh;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header-left-content-flex ul li{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1rem;
    color: white;
}
.right-content{
    height: auto;
    width: 25%;
}
.header-right-content-flex{
    height: 12vh;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header-right-content-flex .header-button{
    border: 1px solid white;
    font-weight: bold;
    font-size: 12px;
    color: white;
    padding: .9rem 1.4rem;
    width: auto;
}
.header-right-content-flex-icons{
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 45%; 
    align-items: center;
}






/* Main Section */
main{
    margin-top: -12vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 2;
    position: relative;
}
.text{
    width: 80%;
}
.main-left-content{
    background-color: #DC002E;
    height: 100vh;
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-left-content a {
    color: white;
    font-weight: bolder;
    font-size: 1.1rem;
    text-transform: uppercase;
}
.main-left-content-wrapper{
    position: relative;
    top: 6rem;
    height: 60%;
    width: 70%;
}
.main-left-content-wrapper a{
  position: relative;
  top: 0;
  transition: all .4s ease-in-out;
}
.main-left-content-wrapper a:hover{
    transition: all .4s ease-in-out;
}
  .main-left-content-wrapper a::after{
    content: "";
    width: 0%;
    height: 1px;
    display: block;
    background-color: #fff;
    transition: all .4s ease-in-out;
  }
  .main-left-content-wrapper a:hover::after{
    width: 27%;
    transition: all .4s;
  }
.main-right-content{
    height: 100vh;
    width: 58%;
    background-image: url("https://destefanoengineering.com/wp-content/uploads/2017/02/shutterstock_524116675.jpg");
    background-size: cover;
}







/* Help Section */
.help-section{
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: flex-end;
    background-color: #EAEDF0;
}
.help-section-content{
    width: 58%;
    height: 14vh;
    display: flex;
    flex-direction: row;
}
.help-section-content-info{
    background-color: #DC002E;
    height: 14vh;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.help-section-content-dropdown{
    background-color: #C30029;
    height: 14vh;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
select{
    width: 80%;
    padding: .5rem 3rem;
    background-color: #C30029;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
option{
    font-weight: bold;
    font-size: 1rem;
}







/* Section Content */
section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.section-left-content{
    background-color: #EAEDF0;
    height: auto;
    width: 42%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.section-left-content-wrapper{
    position: relative;
    top: 6rem;
    height: 60%;
    width: 60%;
    left: 1rem;
    display: flex;
    flex-direction: column;
}
.section-left-content-wrapper h1{
    color: black;
}
.services-left-content{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.services-left-content img{
    height: 32px;
    width: 32px;
}
.services-left-content > ul > li > a{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 1rem;
    width: 30rem;
    
}
.services-left-content > ul > li > a > span{
    position: relative;
    top: -2px;
    left: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #414141;
}
.section-right-content{
    background-color: white;
    height: auto;
    width: 58%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.section-right-content-wrapper{
    position: relative;
    top: 6rem;
    left: -2rem;
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.services-right-content{
    height: 4vh;
    width: 100%;
    margin: .8rem 0 -.1rem 0;
}
.services-right-content a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.services-right-content a i{
    font-weight: 600;
    color: #d4d3d3;
}
.services-right-content span{
    font-weight: 700;
    color: #dd0a36;
    font-size: 16px;
}




/* Article Section */
article{
    height: 100vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.article-left-content{
    width: 48%;
    height: 70%;
}
.article-left-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.article-left-content-text{
    display: flex;
    justify-content: flex-end;
}
.article-left-content-text h1{
    position: relative;
    font-size: 48px;
    line-height: 53px;
    top: 10px;
    right: 20px;
}
.article-left-content-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-left-content-wrapper img{
    position: relative;
    z-index: 1;
    width: 90%;
    bottom: 10rem;
}
.article-content-left-box{
    position: relative;
    z-index: 2;
    top: 5rem;
    left: -1rem;
    background-color: #DC002E;
    padding: 3rem 6rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.article-content-text{
    width: 25rem;
}
.article-content-left-box a{
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 12px;
    padding: .9rem 1.4rem;
    width: auto;
}
.article-right-content{
    width: 48%;
    height: 70%;
}
.article-right-content-wrapper img{
    position: relative;
    z-index: 1;
    width: 90%;
    bottom: 5rem;
}
.article-content-right-box{
    position: relative;
    z-index: 2;
    top: -12rem;
    left: 14.5rem; 
    background-color: #DC002E;
    padding: 3rem 6rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.article-content-text{
    width: 25rem;
}
.article-content-right-box a{
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 12px;
    padding: .9rem 1.4rem;
    width: auto;
}
.article-right-content-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Blog section */
.blog{
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-content{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Blog section (GRID) */
.grid {
    height: 80%;
    width: 90%;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    color: #444;
}
.box {
    padding: 1rem;
    background: white;
}






.a {
    grid-column: 1 / span 2;
    background-image: url('https://www.hwca.com/media/iuqh1iok/office.jpg?quality=80&mode=crop&width=500');
    background-size: cover;
}

.b {
    grid-column: 3 ;
    grid-row: 1 / span 2;
}

.c {
    grid-column: 1;
    grid-row: 2;
    border-left: 5px solid #00698C;
}
.d {
    grid-column: 2;
    grid-row: 2;
    border-left: 5px solid #00698C;
}









.a a{
    display: flex;
    justify-content: end;
}
.a-content{
    position: relative;
    background-color: #DC002E;
    height: 15vh;
    width: 80%;
    top: 5.266666rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}
.a-content p{
    margin-left: 1.5rem;
}
.a-content span{
    margin-left: 1.5rem;
    font-weight: 600;
}
.b a{
    border: 1px solid #DC002E;  
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 1.5rem 3rem;
    width: auto;
    background-color: #DC002E;
    text-transform: uppercase;
}
.b span{
    margin-left: 1.5rem;
    font-weight: 600;
    
}
.c .c-content{
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.c span, .d span{
    color: black;
    font-weight: bold;

}
.d .d-content{
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
/* Gray space above contact form*/
.gray-space{
    position: relative;
    top: -20rem;
    width: 100%;
    height: 30vh;
    background: #F3F3F5;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.gray-space-wrapper{
    position: relative;
    top: -30rem;
    width: 100%;
    height: 30vh;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.another-gray-space{
    position: relative;
    width: 35%;
    height: 20vh;
    background: #F3F3F5;
    z-index: 4;
}




/* Contact Section */
.contact{
    margin-top: -35rem;
    height: 50vh;
    width: 100%;
    background-color: #DC002E;
}
.contact-wrapper{
    background: #DC002E;  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.contact-left-content{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-left-content-wrapper{
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.contact-left-content-wrapper  a{
    border: 1px solid white;  
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 1.5rem 3rem;
    width: auto;
    text-transform: uppercase;
}
.contact-right-content{
    width: 50%;
    height: 100%;
    background-color: darkslategray;
    background-image: url('https://www.hwca.com/media/rbwpdset/shutterstock_1213840051.jpg?width=1000');
    background-size: cover;
}







/* Footer Section */
footer{
    background-color:#333333;
    height: 25vh;
    width: 100%;
}
.footer-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-content-wrapper{
    width: 85%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-content-wrapper-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 10%;
}
.footer-content-wrapper-1 img{
    width: 100%
}
.footer-content-wrapper-2{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer-content-wrapper-2 ul li p {
    font-weight: 500;
    font-size: 1rem;
}
.footer-content-wrapper-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-content-wrapper-list i{
    position: relative;
    right: 1rem;
}
.footer-content-wrapper-3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}
.footer-content-wrapper-3-center{
    position: relative;
    left: 30px;
    bottom: .7rem;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-content-wrapper-3 input{
    width: 80%;
    height: 2rem;
    background-color: #696767;
    border: none;
    color: white;
    font-weight: 500;
}
.footer-content-wrapper-4{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 20%;
}
 .footer-content-wrapper-4 .footer-content-wrapper-list li{
     margin-bottom: .5rem;
 }
.footer-content-wrapper-5{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: center;
    width: 30%;
}






/* Responsive Section (Mobile) */
@media only screen and (min-width:0px) and (max-width: 480px) { 
    header{
        position: relative;
        background-color: #DC002E;
        height: 12vh;
        width:100%;
        max-width: 100%;
    }
    .show{
        display: block;
    }
    .hide{
        display: none;
    }
    nav{
        width: 100%;
        max-width: 100%;
    }
    .nav-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width:100%;
        height: 12vh;
        max-width: 100%;
    }
    li img{
        margin-left: -1rem;
    }
    .nav-wrapper a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
    }
    span{
        position: relative;
        top: -10px;
        font-weight: bold;
    }
    .nav-wrapper a img{
        width: 2rem;
    }
    /* Main */
    main{
        max-width: 100%;
        flex-direction: column;
    }
    .main-left-content, .main-left-content-wrapper, .main-right-content{
        width: 100%;
    }
    .main-left-content-wrapper{
        margin-left: 2rem;
    }
    /* Help Section */
    .help-section{
        max-width: 100%;
    }
    /* Section */
    section{
        margin-top: 15rem;
        max-width: 100%;
        flex-direction: column;
    }
    .section-left-content, .section-right-content{
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        flex-direction: column;
    }
    .section-right-content-wrapper {
        position: relative;
        margin-left: 4rem;
    }
    .section-left-content{
        padding-bottom: 10rem;
    }

    /* Article Section */
    
    article{
        margin-top: 35rem;
        flex-direction: column;
    }
    .article-left-content, .article-right-content{
        width: 100%;
        max-width: 100%;
    }
    .article-right-content{
        margin-top: 5rem;
    }
    .article-left-content-text{
        position: relative;
        left: 2rem;
    }
    .article-content-left-box{
        height: 13rem;
        top: 10rem;
        width: 40%;
        left: 1.5rem;
        top: 20rem;
    }
    .article-content-text{
        width: 200%;
    }
    .article-content-right-box{
        height: 13rem;
        top: 5rem;
        width: 40%;
        left: 1.5rem;
    }
    .article-right-content-image{
        position: relative;
        top: 15rem;
    }
    .article-content-right-box{
        height: auto;
        /* width: 90%; */
    }

    /* Blog Section */
    .blog{
        margin-top: 15rem;
        max-width: 100%;
        flex-direction: column;
    }
    .grid{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3.5rem;
    }
    .a {
        grid-column: 1;
        grid-row: 1;
        background-image: url('https://www.hwca.com/media/iuqh1iok/office.jpg?quality=80&mode=crop&width=500');
        background-size: cover;
    }
    .a-content{
        width: 20rem;
    }
    .b {
        grid-column: 1;
        grid-row: 2;
    }
    
    .c {
        grid-column: 1;
        border-left: 5px solid #00698C;
        grid-row: 3;
    }
    .d {
        grid-column: 1;
        border-left: 5px solid #00698C;
        grid-row: 4;
    }
    /* Gray Space */
    .gray-space, .another-gray-space{
        display: none;
    }
    /* Contact Section */
    .contact{
        margin-top: 7rem;
    }
    .contact-wrapper{
        flex-direction: column;
        justify-content: space-between;
    }
    .contact-left-content, .contact-right-content{
        width: 100%;
        max-width: 100%;
        padding: 7rem 0;
    }
    .contact-right-content{
        position: relative;
        bottom: 7rem;
    }
    .contact-left-content-wrapper{
        width: 90%;
        height: 100%;
        position: relative;
        bottom: 2em;
    }
    /* Footer */
    footer{
        margin-top: 15rem;
        max-width: 100%;
        height: auto;
    }
    .footer-content-wrapper{
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .footer-content-wrapper-1 img{
        width: 50%;
    }
    .footer-content-wrapper-1, .footer-content-wrapper-2, .footer-content-wrapper-3, .footer-content-wrapper-4 {
        width: 100%;
        margin: 1em;
    }
    .footer-content-wrapper-5{
        width: 80%;
        position: relative;
        left: 2.2em;
    }
}